.biaot-1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  background: rgb(78, 144, 102);
}

.biaot-6 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  background: rgb(255, 82, 123);
}

.biaot {
  text-align: center;
}
